.intro {
  background: var(--color-theme-highlight-block);

  &__summary {
    display: flex;
    gap: 3em;
    --flow-space: #{get-size(100)};
    font-size: get-size(100);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-theme-feature-text);

    &--compact {
      font-size: xsmall;
    }
  }
}
