{% extends 'layouts/base.njk' %}


{% block content %}
  <main id="main-content" tabindex="-1">
    <img src="/images/mountains.png" />
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
      </div>
  </main>
{% endblock %}
